@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>About Me</h4>
<p>
    Hi, I'm a software developer living in Buenos Aires. With work experience in
    JavaScript, TypeScript, C#, .Net, MongoDB, SQL, Unity3D and much more.
</p>

<p>Here, you can see my profile on LinkedIn, GitHub and previous projects</p>
<ul class="list-group">
    <li class="list-group-item active">
        <a class="text-decoration-none text-white" target="_blank" href="https://www.linkedin.com/in/nicolas-stella-softwaredeveloper/">LinkedIn Profile</a>
    </li>
    <li class="list-group-item">
        <a class="text-decoration-none text-black" target="_blank" href="https://github.com/redhard2021">Github Profile</a>
    </li>
    <li class="list-group-item">
        <a class="text-decoration-none text-black" target="_blank" href="https://ns-pokemongame.netlify.app/">Pokemon Game <small>made in VueJS</small></a>
    </li>
    <li class="list-group-item">
        <a class="text-decoration-none text-black" target="_blank" href="https://shimmering-jelly-2d7d5e.netlify.app/">SPA Journal App <small>made in Angular</small></a>
    </li>
</ul>
